<footer class="bg-main-light py-5">
  <div class="container">
    <h2 class="h4 m-0">{{'Get the FreshCart app' | translate}}</h2>
    <p class="text-secondary">
     {{'We will send you a link, open it on your phone to download the app.' |translate}}
    </p>

    <!-- inputs design -->
    <div class="d-flex align-items-center gap-3 text-nowrap">
      <input class="form-control" type="email" placeholder="Email.." />
      <button class="btn-main">{{'Share App Link' | translate}}</button>
    </div>


    <!-- payment -->
    <div class="pay-details d-flex justify-content-between align-items-center border-top border-bottom py-4 mt-3">
      <div class="d-flex align-items-center gap-2">
        <h3 class="h6 m-0">{{'Payment Partners' |translate}}</h3>
        <img src="./assets/images/amazon-pay.png" width="30px" alt="" />
        <img
          src="./assets/images/American-Express-Color.png"
          width="30px"
          alt=""
        />
        <img src="./assets/images/mastercard.webp" width="30px" alt="" />
        <img src="./assets/images/paypal.png" width="30px" alt="" />
      </div>

      <div class="d-flex align-items-center gap-2">
        <h3 class="h6 m-0">{{'Get deliveries with FreshCart' | translate}}</h3>
        <img src="./assets/images/get-google-play.png" width="75px" alt="" />
        <img src="./assets/images/get-apple-store.png" width="75px" alt="" />
      </div>

    </div>
   
  </div>
</footer>
