<section>
  <h2 class="text-main text-center my-2">Forgot Password</h2>

  <!-- verify Email Form -->
  @if(step == 1) {
  <form
    [formGroup]="verifyEmail"
    class="bg-main-light rounded-4 shadow p-3"
    (ngSubmit)="emailVerifySubmit()"
  >
    <div class="my-2">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="form-control"
      />

      <!-- validation alert -->
      @if( verifyEmail.get('email')?.errors &&
      verifyEmail.get('email')?.touched){
      <div class="alert w-50 alert-danger mt-1">
        @if (verifyEmail.get('email')?.getError('required')) {
        <p class="m-0">*Email required*</p>
        } @else if (verifyEmail.get('email')?.getError('email')) {
        <p class="m-0">*Enter Valid Email*</p>
        }
      </div>
      }
    </div>

    <button [disabled]="verifyEmail.invalid" type="submit" class="btn-main">
      Verify Email
      
    </button>

    <!-- msg Err -->
   

    @if (msgSuccess) {
      <p class="alert alert-success text-center">
      {{ msgSuccess }}
      </p>
    }
  </form>
  } @else if(step == 2) {
  <form
    [formGroup]="verifyCode"
    class="bg-main-light rounded-4 shadow p-3"
    (ngSubmit)="codeVerifySubmit()"
  >
    <div class="my-2">
      <label for="resetCode">Reset Code</label>
      <input
        type="text"
        id="resetCode"
        formControlName="resetCode"
        class="form-control"
      />

      <!-- validation -->
      @if(verifyCode.get('resetCode')?.errors &&
      verifyCode.get('resetCode')?.touched) {
      <div class="alert w-50 alert-danger mt-1">
        @if (verifyCode.get('resetCode')?.getError('required')) {
        <p class="m-0">*Code required*</p>
        } @else if (verifyCode.get('resetCode')?.getError('pattern')) {
        <p class="m-0">*Enter 6-digits*</p>
        }
      </div>
      }
    </div>
    <button [disabled]="verifyCode.invalid" type="submit" class="btn-main">
      Send Code
     
    </button>

    <!-- msg Err Code -->
    
    @if (msgSuccess) {
      <p class="alert alert-success text-center">
      {{ msgSuccess }}
      </p>
    }
  </form>
  } @else if(step == 3) {
  <form
    [formGroup]="resetPass"
    class="bg-main-light rounded-4 shadow p-3"
    (ngSubmit)="resetPassSubmit()"
  >
    <div class="my-2">
      <label for="email">Email</label>
      <input
        readonly
        type="text"
        id="email"
        formControlName="email"
        class="form-control"
      />

      <!-- Validation email-->

      @if( resetPass.get('email')?.errors && resetPass.get('email')?.touched){
      <div class="alert w-50 alert-danger mt-1">
        @if (resetPass.get('email')?.getError('required')) {
        <p class="m-0">*Email required*</p>
        } @else if (resetPass.get('email')?.getError('email')) {
        <p class="m-0">*Enter Valid Email*</p>
        }
      </div>
      }

      <label for="newPassword">New Password</label>
      <input
        type="text"
        id="newPassword"
        formControlName="newPassword"
        class="form-control"
      />

      <!-- validation password-->
      @if (resetPass.get('newPassword')?.errors &&
      resetPass.get('newPassword')?.touched) {
      <div class="alert w-50 alert-danger mt-1">
        @if (resetPass.get('newPassword')?.getError('required')) {
        <p class="m-0">*Enter New Password*</p>
        } @else if (resetPass.get('newPassword')?.getError('pattern')) {
        <p class="m-0">*must be at least 6 chars*</p>

        }
      </div>
      }
    </div>
    <button [disabled]="resetPass.invalid" type="submit" class="btn-main">
      Change Password
     
    </button>

   
    @if (msgSuccess) {
      <p class="alert alert-success text-center">
        {{ msgSuccess }}
        </p>
    }
  </form>
  }
</section>
